.timeline {
  border-left: 3px solid #2c3e50;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  margin: 0px 22%;
}

@media (max-width: 990px) {
  .timeline {
    max-width: 98%;
    padding: 25px;
    margin: 0px 25px;
  }
}

.timeline h1 {
  font-weight: bold;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.timeline .event {
  border-bottom: 1px dashed #2c3e50;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 990px) {
  .timeline .event {
    padding-top: 30px;
  }
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -250px;
  content: attr(data-date);
  text-align: right;
  font-weight: 500;
  font-size: 1em;
  min-width: 120px;
}

@media (max-width: 990px) {
  .timeline .event:before {
    left: 0px;
    text-align: left;
  }
}

.timeline .event:after {
  -webkit-box-shadow: 0 0 0 3px;
  box-shadow: 0 0 0 3px #2c3e50;
  left: -55.8px;
  background: #2c3e50;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: '';
  top: 5px;
}

@media (max-width: 990px) {
  .timeline .event:after {
    left: -31.8px;
  }
}

.rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #2c3e50;
}

.rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

.rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}

/* Source ends */

/* Custom */

.tag {
  margin: 5px;
  padding: 5px;
  border: 0.2px solid #2c3e50;
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px
}

.text-right {
  display: inline-block;
}

/* Custom ends */
